<div id="homeBanner" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#homeBanner" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#homeBanner" data-bs-slide-to="1" aria-label="Slide 2"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img class="img-fluid d-block rounded-4 w-100" src="/images/home1.jpg" alt="">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="text-start fw-bold fs-1 text-dark">Welcome to my site</h5>
        <p class="text-start fw-light fs-5 text-black-50">I am Hugo Mak, full-stack developer from Hong Kong.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img class="img-fluid d-block rounded-4 w-100" src="/images/home2.jpg" alt="">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="text-start fw-bold fs-1 text-dark">It's my sharing</h5>
        <p class="text-start fw-light fs-5 text-black-50">Feel free to reach out with any questions.</p>
      </div>
    </div>
  </div>
</div>