<footer class="bg-warning">
  <section class="p-4 border-bottom">
    <div class="container text-center text-md-start mt-5">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="bi bi-fingerprint"></i> Bios
          </h6>
          <p>Hugo Mak is a multi-talented entrepreneur with a background in business, design, and programming. He
            delivers innovative technology solutions to clients with a focus on enhancing the user experience.</p>
          <div>
            <a href="https://www.facebook.com" target="_blank" class="me-4 text-reset"><i
                class="bi bi-facebook"></i></a>
            <a href="https://www.twitter.com" target="_blank" class="me-4 text-reset"><i class="bi bi-twitter"></i></a>
            <a href="https://www.instagram.com" target="_blank" class="me-4 text-reset"><i
                class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com" target="_blank" class="me-4 text-reset"><i
                class="bi bi-linkedin"></i></a>
            <a href="https://www.github.com" target="_blank" class="me-4 text-reset"><i class="bi bi-github"></i></a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <h6 class="text-uppercase fw-bold mb-4">Knowledges</h6>
          <p>
            <a href="/service" class="btn btn-sm">Web app development</a>
          </p>
          <p>
            <a href="/service" class="btn btn-sm">Flutter app development</a>
          </p>
          <p>
            <a href="/service" class="btn btn-sm">iOS app development</a>
          </p>
          <p>
            <a href="/service" class="btn btn-sm">Android app development</a>
          </p>
          <p>
            <a href="/service" class="btn btn-sm">Desktop app development</a>
          </p>
          <p>
            <a href="/service" class="btn btn-sm">Digital Marketing</a>
          </p>
          <p>
            <a href="/service" class="btn btn-sm">Cloud Server Management</a>
          </p>
          <p>
            <a href="/service" class="btn btn-sm">AI / Machine Learning</a>
          </p>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <h6 class="text-uppercase fw-bold mb-4">
            Languages
          </h6>
          <p>
            <a href="https://flutter.dev" target="_blank" class="btn btn-sm">Dart / Flutter</a>
          </p>
          <p>
            <a href="https://developer.apple.com" target="_blank" class="btn btn-sm">SWIFT / xCode</a>
          </p>
          <p>
            <a href="https://developer.android.com" target="_blank" class="btn btn-sm">Kotlin / Android Studio</a>
          </p>
          <p>
            <a href="https://angular.io" target="_blank" class="btn btn-sm">Typescript / Angular / React</a>
          </p>
          <p>
            <a href="https://python.org" target="_blank" class="btn btn-sm">Python</a>
          </p>
          <p>
            <a href="https://php.net" target="_blank" class="btn btn-sm">PHP</a>
          </p>
        </div>
        <div class="col-12 col-md-6 col-lg-2">
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <h6><i class="bi bi-home"></i> Address:</h6>
          <p class="small mb-4">66 Forest Manor Rd, North York, Ontario, Canada, M2J 0B7</p>
          <h6><i class="bi bi-envelope"></i> Email:</h6>
          <p class="small mb-4">cmak34 at my.centennialcollege.ca</p>
          <h6><i class="bi bi-telephone"></i> Phone:</h6>
          <p class="small">+1 647 717 4088 <br />+852 2660 7788</p>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center fs-6 p-4 text-dark">
    <p>
      &copy; 2023 All rights reserved
    </p>
    <p>
      Illustrations by
      <a class="link-dark" target="_blank" href="https://icons8.com/illustrations/author/zD2oqC8lLBBA">Icons 8</a>,
      <a class="link-dark" target="_blank" href="https://icons8.com/illustrations/author/GrbQqWBEhaDS">Liam Moore</a>,
      <a class="link-dark" target="_blank" href="https://icons8.com/illustrations/author/CkHJmwURlxnt">Olha Khomich</a>
      from
      <a class="link-dark" target="_blank" href="https://icons8.com/illustrations">Ouch!</a>
    </p>
    <p>Package version: <%= (typeof version !== 'undefined') ? version : "" %> | Last updated: <%= (typeof lastUpdated !== 'undefined') ? lastUpdated : "" %></p>
  </div>
</footer>

<%- include ../modal/login.ejs %>
<%- include ../modal/register.ejs %>