<header>
  <section class="container p-4">
    <div class="row align-items-center">
      <div class="col-6 col-sm-4 col-md-2">
        <a class="navbar-brand" href="/">
          <img class="img-fluid" src="/images/logo-horizontal.png" alt="Portfolio of Hugo Mak" />
        </a>
      </div>
      <div class="col-6 col-sm-8 col-md-10 d-md-none d-lg-none d-xl-none d-xxl-none d-block d-sm-block text-end">
        <button type="button" class="btn btn-lg" data-bs-toggle="collapse" data-bs-target="#navbarToggle"
          aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <i class="bi bi-three-dots-vertical"></i>
        </button>
      </div>
      <div class="col-6 col-sm-8 col-md-10 d-none d-sm-none d-md-block">
        <ul class="nav justify-content-end">
          <li>
            <a href="/home" class="nav-link px-3 fs-5 link-secondary">Home</a>
          </li>
          <li>
            <a href="/about" class="nav-link px-3 fs-5 link-secondary">About me</a>
          </li>
          <li>
            <a href="/projects" class="nav-link px-3 fs-5 link-secondary">Projects</a>
          </li>
          <li>
            <a href="/service" class="nav-link px-3 fs-5 link-secondary">Service</a>
          </li>
          <li>
            <a href="/contact" class="nav-link px-3 fs-5 link-secondary">Contact</a>
          </li>
          <% if (!user) { %>
            <li>
              <a href="javascript:void(0)" class="nav-link px-3 fs-5 link-secondary" data-bs-toggle="modal" data-bs-target="#loginModal">
                Login
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" class="nav-link px-3 fs-5 link-secondary" data-bs-toggle="modal" data-bs-target="#registerModal">
                Signup
              </a>
            </li>
          <% } else { %>
            <li>
              <a href="/dashboard" class="nav-link px-3 fs-5 link-secondary">Dashboard</a>
            </li>
            <li>
              <a href="javascript:void(0)" class="nav-link px-3 fs-5 link-secondary logout-btn">
                Logout
              </a>
            </li>
          <% } %>
        </ul>
      </div>
      <!-- mobile menu -->
      <div class="col-12 col-md-10 d-md-none d-lg-none d-xl-none d-xxl-none d-block d-sm-block">
        <div class="collapse" id="navbarToggle">
          <div class="p-4">
            <ul class="list-unstyled text-center">
              <li class="mb-5">
                <a href="/home" class="fs-5 btn">Home</a>
              </li>
              <li class="mb-5">
                <a href="/about" class="fs-5 btn">About me</a>
              </li>
              <li class="mb-5">
                <a href="/projects" class="fs-5 btn">Projects</a>
              </li>
              <li class="mb-5">
                <a href="/service" class="fs-5 btn">Service</a>
              </li>
              <li class="mb-5">
                <a href="/contact" class="fs-5 btn">Contact</a>
              </li>
              <% if (!user) { %>
                <li class="mb-5">
                  <a href="javascript:void(0)" class="fs-5 btn" data-bs-toggle="modal" data-bs-target="#loginModal">
                    Login
                  </a>
                </li>
                <li class="mb-5">
                  <a href="javascript:void(0)" class="fs-5 btn" data-bs-toggle="modal" data-bs-target="#registerModal">
                    Signup
                  </a>
                </li>
              <% } else { %>
                <li class="mb-5">
                  <a href="/dashboard" class="fs-5 btn">Dashboard</a>
                </li>
                <li class="mb-5">
                  <a href="javascript:void(0)" class="fs-5 btn logout-btn">
                    Logout
                  </a>
                </li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
      <div class="mt-3" id="liveAlertPlaceholder"></div>
      <% if (error && error != '') { %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <div><%= error %></div>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% } %>
    </div>
  </section>
</header>