<!DOCTYPE html>
<html lang="en">
  <!-- here is the head -->
  <%- include ../partial/head.ejs %>
  <body>
    <!-- here is the header -->
    <%- include ../partial/header.ejs %>
    <!-- body of the page -->
    <div class="bg-container container service">
      <div id="serviceBanner" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#serviceBanner" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000">
            <img class="img-fluid d-block rounded-4 w-100" src="/images/service.jpg" alt="">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="text-start fw-bold fs-1 text-dark">Services</h5>
              <p class="text-start fw-light fs-5 text-black-50">Tell me what your problems are.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12 col-sm-6 col-md-3 mb-4">
          <div class="p-1 rounded-4 bg-light h-100">
            <div class="container-fluid py-5">
              <img class="img-fluid mx-auto d-block" src="/images/service-feature14.png" alt="Web Development">
              <h2 class="mt-4 display-5 fw-bold fs-5 text-dark">Web Development</h2>
              <p class="fw-light fs-6 text-black-50">With expertise in a variety of popular content management systems (CMS) such as WordPress, Joomla, and ModX, I am able to build custom themes and plugins that are tailored to meet the specific needs of my clients. My skills extend beyond just CMS, as I am also skilled in developing custom web applications using advanced technologies such as Angular and Python. I bring a comprehensive approach to web development, delivering solutions that are not only functional but also visually appealing.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 mb-4">
          <div class="p-1 rounded-4 bg-light h-100">
            <div class="container-fluid py-5">
              <img class="img-fluid mx-auto d-block" src="/images/service-feature16.png" alt="Flutter App Development">
              <h2 class="mt-4 display-5 fw-bold fs-5 text-dark">Flutter App Development</h2>
              <p class="fw-light fs-6 text-black-50">With proficiency in Flutter, a cutting-edge mobile app development framework, I am able to build a diverse range of applications that offer a wide range of functionality. My expertise includes, but is not limited to, developing shopping carts, integrating online payment systems, incorporating Google Maps, custom camera functionality, authentication systems, push notifications, AR capabilities, and 3D objects. I bring a user-centered approach to mobile app development, creating solutions that are not only feature-rich but also intuitive and enjoyable to use.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 mb-4">
          <div class="p-1 rounded-4 bg-light h-100">
            <div class="container-fluid py-5">
              <img class="img-fluid mx-auto d-block" src="/images/service-feature17.png" alt="iOS App Development">
              <h2 class="mt-4 display-5 fw-bold fs-5 text-dark">iOS App Development</h2>
              <p class="fw-light fs-6 text-black-50">With a deep understanding of Swift and expertise in iOS development, I am able to create engaging and robust mobile applications. My skills encompass a wide range of functionality, including but not limited to, custom camera functionality, authentication systems, push notifications, integration with maps and location services, and more. </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 mb-4">
          <div class="p-1 rounded-4 bg-light h-100">
            <div class="container-fluid py-5">
              <img class="img-fluid mx-auto d-block" src="/images/service-feature9.png" alt="Android Development">
              <h2 class="mt-4 display-5 fw-bold fs-5 text-dark">Android Development</h2>
              <p class="fw-light fs-6 text-black-50">As an experienced Android developer, I bring a creative and innovative approach to delivering engaging mobile applications. With a deep understanding of the Android platform and expertise in utilizing ARCore, I have a proven track record of delivering top-notch results to clients.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 mb-4">
          <div class="p-1 rounded-4 bg-light h-100">
            <div class="container-fluid py-5">
              <img class="img-fluid mx-auto d-block" src="/images/service-feature18.png" alt="Desktop App Development">
              <h2 class="mt-4 display-5 fw-bold fs-5 text-dark">Desktop App Development</h2>
              <p class="fw-light fs-6 text-black-50">With a strong background in Java and Flutter, I am equipped to develop cross-platform desktop applications that work seamlessly on Windows, Mac, and Linux operating systems. My ability to seamlessly integrate the power and versatility of Java and Flutter enables me to build applications that are fast, efficient, and scalable. Whether it's for enterprise software, utilities, or gaming applications, I bring a keen attention to detail and a commitment to delivering exceptional results to each project I work on.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 mb-4">
          <div class="p-1 rounded-4 bg-light h-100">
            <div class="container-fluid py-5">
              <img class="img-fluid mx-auto d-block" src="/images/service-feature4.png" alt="Digital Marketing">
              <h2 class="mt-4 display-5 fw-bold fs-5 text-dark">Marketing Automation</h2>
              <p class="fw-light fs-6 text-black-50">With a strong background in digital marketing and a deep understanding of the customer journey, I am able to integrate a variety of tools and technologies to optimize the sales funnel. My expertise includes integration with Google Analytics, Google Tag Manager, Ads Automation, Email Automation, SMS Automation, and SEO, among others. I bring a data-driven approach to digital marketing, utilizing these tools to gain insights into customer behavior and deliver targeted, personalized experiences. </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 mb-4">
          <div class="p-1 rounded-4 bg-light h-100">
            <div class="container-fluid py-5">
              <img class="img-fluid mx-auto d-block" src="/images/service-feature13.png" alt="Cloud Server Management">
              <h2 class="mt-4 display-5 fw-bold fs-5 text-dark">Cloud Server Management</h2>
              <p class="fw-light fs-6 text-black-50">With a comprehensive understanding of cloud computing and a track record of successful cloud strategy development and implementation, I am well-equipped to oversee a company's cloud computing initiatives. My expertise spans the full range of cloud computing, including cloud adoption planning, cloud application design, and cloud management and monitoring. I bring a strategic approach to cloud computing, ensuring that each initiative aligns with a company's overall business goals and drives value.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 mb-4">
          <div class="p-1 rounded-4 bg-light h-100">
            <div class="container-fluid py-5">
              <img class="img-fluid mx-auto d-block" src="/images/service-feature19.png" alt="AI / Machine Learning">
              <h2 class="mt-4 display-5 fw-bold fs-5 text-dark">AI / Machine Learning</h2>
              <p class="fw-light fs-6 text-black-50">With experience in building custom artificial intelligence models and a understanding of TensorFlow, I am able to build AI models that are tailored to the specific needs and requirements of each client, delivering results that drive business value and deliver real-world impact. Whether it's for predictive modeling, image or speech recognition, or natural language processing, I bring a data-driven and results-oriented approach to AI development, ensuring that each project I work on is a success.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- here is the footer -->
    <%- include ../partial/footer.ejs %>
    <!-- here are the js script -->
    <%- include ../partial/script.ejs %>
  </body>
</html>